# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local files
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
